$main-background: #f3f4f6;
$components-background: #ffffff;
$article-name: #1890ff;
$main-text-color: #000000bf;
$second-text-color: #00000080;
$error-text-color: red;
$submit-disabled: #d9d9d9;
$input: #bfbfbf;
$tag: #666;
$border: #ccc;
