@use "../../../shared/styles/colors.scss" as colors;

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  background-color: colors.$components-background;

  .headerName {
    font-family: "Roboto";
    padding-left: 22px;
  }

  .headerButtons {
    padding: 0 22px;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    flex-wrap: wrap;
  }

  .userInfo {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
